<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRemoteData"/>
                <binding name="BasicHttpBinding_IRemoteData1"/>
                <binding name="Ges3ServicesUTF8Obj"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.77.7:3838/FRSService/RemoteData" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRemoteData" contract="FRSSrv.IRemoteData" name="BasicHttpBinding_IRemoteData"/>
            <endpoint address="http://192.168.77.7:3838/FRSService/RemoteData" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRemoteData1" contract="ServiceReference1.IRemoteData" name="BasicHttpBinding_IRemoteData1"/>
            <endpoint address="http://vfiliasesb0:2580/process/Ges3ServicesUTF8Proc" binding="basicHttpBinding" bindingConfiguration="Ges3ServicesUTF8Obj" contract="SrvGes.Ges3ServicesUTF8Obj" name="Ges3ServicesUTF8Obj"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
