<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PDiscountCard.Properties.Settings.AlohaToGoConnectionString" connectionString="Data Source=avrora1\sqlexpress;Initial Catalog=AlohaToGo;Persist Security Info=True;User ID=PDiscount;Password=PDiscount" providerName="System.Data.SqlClient"/>
    <add name="PDiscountCard.Properties.Settings.AlohaPDiscountConnectionString" connectionString="Data Source=s2010;Initial Catalog=AlohaPDiscount;User ID=v.piskov" providerName="System.Data.SqlClient"/>
    <add name="PDiscountCard.Properties.Settings.AlohaPDiscountConnectionString1" connectionString="Data Source=s2010;Initial Catalog=AlohaPDiscount;User ID=v.piskov;Password=Eit160t" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="C:\Aloha\check\Trposx"/>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WriteVisitDiscountObj" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WriteVisitDiscountObj1" />
        <binding name="BasicHttpBinding_IRemoteData" />
        <binding name="Ges3ServicesObj" />
        <binding name="Service1Soap" />
        <binding name="DefaultEndpoint">
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICardService" />
        <binding name="NetTcpBinding_IDeliveryHubConnectorService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://vfiliasesb0:2580/process/WriteVisitProc"
        binding="basicHttpBinding" bindingConfiguration="WriteVisitDiscountObj"
        contract="ServiceReference1.WriteVisitDiscountObj" name="WriteVisitDiscountObj" />
      <endpoint address="http://vfiliasesb0:2580/process/WriteVisitProc"
        binding="basicHttpBinding" bindingConfiguration="WriteVisitDiscountObj1"
        contract="ServiceReference1.WriteVisitDiscountObj" name="WriteVisitDiscountObj1" />
      <endpoint address="http://s2010:3134/service1.asmx" binding="basicHttpBinding"
        bindingConfiguration="Service1Soap" contract="ZRepSrv.Service1Soap"
        name="Service1Soap" />
      <endpoint address="http://192.168.250.7:3838/FRSService/RemoteData"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRemoteData"
        contract="FRSSrv.IRemoteData" name="BasicHttpBinding_IRemoteData" />
      <endpoint address="https://18.216.147.247/AlohaServiceStaging/AlohaService.svc"
        binding="basicHttpBinding" bindingConfiguration="DefaultEndpoint"
        contract="AlohaService.IAlohaService" name="DefaultEndpoint" />
      <endpoint address="net.tcp://s2010/CardService/CardService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICardService"
        contract="MBProxi.ICardService" name="NetTcpBinding_ICardService">
        <identity>
          <servicePrincipalName value="host/S2010" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://s2020/DeliveryHubConnector/DeliveryHubConnectorService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDeliveryHubConnectorService"
        contract="HubSrv.IDeliveryHubConnectorService" name="NetTcpBinding_IDeliveryHubConnectorService">
        <identity>
          <servicePrincipalName value="host/s2020" />
        </identity>
      </endpoint>
      <endpoint address="http://app:8000/process/process" binding="basicHttpBinding"
        bindingConfiguration="Ges3ServicesObj" contract="Gestory.Ges3ServicesObj"
        name="Ges3ServicesObj" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <PDiscountCard.Properties.Settings>
      <setting name="PDiscountCard_s2010_Service1" serializeAs="String">
        <value>http://s2010:3132/Service1.asmx</value>
      </setting>
    </PDiscountCard.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
