<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlohaGalClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DefaultEndpoint">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://18.216.147.247/AlohaServiceStaging/AlohaService.svc"
                binding="basicHttpBinding" bindingConfiguration="DefaultEndpoint"
                contract="DbSrv.IAlohaService" name="DefaultEndpoint" />
        </client>
    </system.serviceModel>
    <userSettings>
        <AlohaGalClient.Properties.Settings>
            <setting name="DBAddress" serializeAs="String">
                <value>https://18.216.147.247/AlohaServiceStaging/AlohaService.svc</value>
            </setting>
        </AlohaGalClient.Properties.Settings>
    </userSettings>
</configuration>