<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SVSistem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <SVSistem.Properties.Settings>
            <setting name="SVSistem_StopListSrv_SVSrv" serializeAs="String">
                <value>http://s2010:3131/SVSrv.asmx</value>
            </setting>
        </SVSistem.Properties.Settings>
    </applicationSettings>
</configuration>